
<div class="uk-vertical-align uk-text-center uk-height-1-1">
    <div class="uk-vertical-align-middle" style="width: 250px;">
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

      <%= form_for resource, as: resource_name, url: registration_path(resource_name), :html => {:class => 'uk-panel uk-panel-box uk-form'} do |f| %>
        <div class="uk-form-row">
          <%= f.email_field :email, autofocus: true, placeholder: "Email", class: "uk-width-1-1 uk-form-large" %>
        </div>

        <div class="uk-form-row">
          <%= f.label :password %>
          <%= f.password_field :password, placeholder: "Password", autocomplete: "off", class: "uk-width-1-1 uk-form-large" %>
        </div>
        <div class="uk-form-row">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "uk-width-1-1 uk-form-large"  %>
        </div>
        <div class="uk-form-row">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>        
        </div>
        <div class="uk-form-row">
          <%= f.submit "Update", class: "uk-width-1-1 uk-button uk-button-primary uk-button-large" %>
        </div>

      <% end %>
    </div>

</div>
<hr class="uk-grid-divider"/>
<div class="uk-vertical-align uk-text-center uk-height-1-1">
    <div class="uk-vertical-align-middle " style="width: 250px;">                 
<div class="uk-panel uk-panel-box">
        <%= link_to 'Pricing', main_app.pricing_path, class: "uk-width-1-1 uk-button uk-button-primary uk-button-large" %>
<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, class: "uk-button", method: :delete %></p>

<%= link_to "Back", :back, class: "uk-width-1-1 uk-button uk-button uk-button-large" %>
</div>
    </div>
</div>



<script id="hiddenlpsubmitdiv" style="display: none;"></script><script>try{(function() { for(var lastpass_iter=0; lastpass_iter < document.forms.length; lastpass_iter++){ var lastpass_f = document.forms[lastpass_iter]; if(typeof(lastpass_f.lpsubmitorig2)=="undefined"){ lastpass_f.lpsubmitorig2 = lastpass_f.submit; if (typeof(lastpass_f.lpsubmitorig2)=='object'){ continue;}lastpass_f.submit = function(){ var form=this; var customEvent = document.createEvent("Event"); customEvent.initEvent("lpCustomEvent", true, true); var d = document.getElementById("hiddenlpsubmitdiv"); if (d) {for(var i = 0; i < document.forms.length; i++){ if(document.forms[i]==form){ if (typeof(d.innerText) != 'undefined') { d.innerText=i.toString(); } else { d.textContent=i.toString(); } } } d.dispatchEvent(customEvent); }form.lpsubmitorig2(); } } }})()}catch(e){}</script>
