<!DOCTYPE html>
<html>
<head>
  <title>butterfli</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  
  <%= yield :koudoku %>
</head>
<body class="<%= controller_name %> <%= action_name %>">
	<%= yield %>
	<div class="spinner"></div>
</body>
</html>
