<% content_for :koudoku do %>
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<% end %>
<script id="hiddenlpsubmitdiv" style="display: none;"></script><script>try{(function() { for(var lastpass_iter=0; lastpass_iter < document.forms.length; lastpass_iter++){ var lastpass_f = document.forms[lastpass_iter]; if(typeof(lastpass_f.lpsubmitorig2)=="undefined"){ lastpass_f.lpsubmitorig2 = lastpass_f.submit; if (typeof(lastpass_f.lpsubmitorig2)=='object'){ continue;}lastpass_f.submit = function(){ var form=this; var customEvent = document.createEvent("Event"); customEvent.initEvent("lpCustomEvent", true, true); var d = document.getElementById("hiddenlpsubmitdiv"); if (d) {for(var i = 0; i < document.forms.length; i++){ if(document.forms[i]==form){ if (typeof(d.innerText) != 'undefined') { d.innerText=i.toString(); } else { d.textContent=i.toString(); } } } d.dispatchEvent(customEvent); }form.lpsubmitorig2(); } } }})()}catch(e){}</script>

<div class="uk-vertical-align uk-text-center uk-height-1-1">
    <div class="uk-vertical-align-middle" style="width: 250px;">

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= form_for @subscription, url: url, html: {id: 'payment-form', class: 'uk-panel uk-panel-box uk-form'} do |f| %>

        <div class="uk-form-row">
          <label class="control-label">Card Number</label>
          <div class="controls">
            <input type="text" size="20" autocomplete="off" class="card-number uk-width-1-1 uk-form-large"/>
          </div>
        </div>

        <div class="uk-form-row">
          <label class="control-label">Expiration (MM/YYYY)</label>
          <div class="controls">
            <input type="text" size="2" class="card-expiry-month uk-width-1-3 uk-form-large"/>
            <span> / </span>
            <input type="text" size="4" class="card-expiry-year uk-width-1-3 uk-form-large"/>
          </div>
        </div>

        <div class="uk-form-row">
          <label class="control-label">CVC</label>
          <div class="controls">
            <input type="text" size="4" autocomplete="off" class="card-cvc input-small"/>
          </div>
        </div>
          <hr class="uk-grid-divider">

        <div class="alert alert-error payment-errors"></div>
        <%= f.hidden_field :plan_id %>

      <div class="uk-form-row">
        <div class="controls">
          <% if Koudoku.free_trial? %>
            <button type="submit" class="uk-width-1-1 uk-button uk-button-primary uk-button-large">Save Billing Information</button>
          <% else %>
            <button type="submit" class="uk-width-1-1 uk-button uk-button-primary uk-button-large">Upgrade Your Account</button>
          <% end %>
          <%= link_to "Cancel", owner_subscriptions_path(@owner), class: 'btn' %>
        </div>
      </div>

    <% end %>
</div>
</div>
<script type="text/javascript">

  // All this code taken from Stripe's own examples at:
  // https://stripe.com/docs/tutorials/forms .
  
  function stripeResponseHandler(status, response) {

      if (response.error) {
          // show the errors on the form
          $(".payment-errors").text(response.error.message).show();
          $(".submit-button").removeAttr("disabled");
      } else {
          var form$ = $("#payment-form");
          // token contains id, last4, and card type
          // insert the token into the form so it gets submitted to the server
          form$.append("<input type='hidden' name='subscription[credit_card_token]' value='" + response['id'] + "'/>");
          form$.append("<input type='hidden' name='subscription[last_four]' value='" + response['last4'] + "'/>");
          form$.append("<input type='hidden' name='subscription[card_type]' value='" + response['card_type'] + "'/>");
          // and submit
          form$.get(0).submit();
      }
  }

  $(document).ready(function() {

    Stripe.setPublishableKey("<%= Koudoku.stripe_publishable_key %>");
    
    // By default, don't show errors.
    $(".payment-errors").hide()
    
    $("#payment-form").submit(function(event) {

      // disable the submit button to prevent repeated clicks
      $('.submit-button').attr("disabled", "disabled");

      Stripe.createToken({
          number: $('.card-number').val(),
          cvc: $('.card-cvc').val(),
          exp_month: $('.card-expiry-month').val(),
          exp_year: $('.card-expiry-year').val()
      }, stripeResponseHandler);

      // prevent the form from submitting with the default action
      return false;
    });
  });
  
</script>
