<%= render "dashes/nav_standard" %>


        <div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<div class="uk-grid uk-grid-small">
  <%= link_to "Find The Fire!", dash_scrape_path(@dash), class: "uk-button uk-button-large uk-width-1-1 uk-margin-bottom" %>
</div>

<hr class="uk-grid-divider"/>    
<!-- Filter Controls -->
<ul id="my-id" class="uk-subnav">
    <li data-uk-filter=""><a href="">All</a></li>
    <li data-uk-filter="a"><a href="">Twitter</a></li>
    <li data-uk-filter="b"><a href="">Giphy</a></li>
    <li data-uk-filter="c"><a href="">Reddit</a></li>
    <li data-uk-filter="d"><a href="">Tumblr</a></li>
</ul>  

  <div id="grid" class="uk-grid-width-small-1-2 uk-grid-width-medium-1-4" data-uk-grid="{controls: '#my-id', gutter: 10}">
    <% @posts.each do |post|  %>
    <% if post.title == 'twitter' %>
      
      <div class="overlay" data-uk-filter='a'>

    <% elsif post.title == 'giphy' %>
      
      <div class="overlay" data-uk-filter='b'>

    <% elsif post.title == 'reddit' %>
      
      <div class="overlay" data-uk-filter='c'>

    <% else post.title == 'tumblr' %>
      
      <div class="overlay" data-uk-filter='d'>

    <% end %>
          <div>
            <div class="pic_holder">
              <% if !post.image_src.nil? %>
                 <%= image_tag post.og_source %> 
              <% else %>
                <%= image_tag post.usr_image(:medium) %>
              <% end %>
              <%= link_to "", toggle_disapprove_dash_post_path(@dash, post), :remote => true, class: "toggle_button toggle_disapprove_queue" %>     
            </div>
            <h3><%= post.body %></h3>                          
              <div class="uk-button-group">
                  <a class="uk-button disabled">
                    <i class="uk-icon-facebook"></i>
                  </a>

                <% if post.twit_published < 1 %>
                  <%= link_to dash_post_tweet_path(@dash, post_id: post.id), remote: true,  class: "uk-button" do %>
                    <i class="uk-icon-twitter"></i>
                  <% end %>
                <% else %>
                  <a class="uk-button disabled">
                    <i class="uk-icon-twitter"></i>
                  </a>
                <% end %>
                <% if post.tumblr_published < 1 %>
                  <%= link_to dash_post_tumblr_path(@dash, post_id: post.id), remote: true, class: "uk-button" do %>
                    <i class="uk-icon-tumblr"></i>
                  <% end %>
                <% else %>
                  <a class="uk-button disabled">
                    <i class="uk-icon-tumblr"></i>
                  </a>
                <% end %>
                  <%= link_to dash_email_post_path(@dash, post_id: post.id), remote: true, class: "uk-button" do %>
                  
                    <i class="uk-icon-envelope"></i>
                  <% end %>
                  <a href="#" class="uk-button disabled">
                    <i class="uk-icon-wordpress"></i>
                  </a>
                  <%= link_to dash_text_post_path(@dash, post_id: post.id), remote: true, class: "uk-button" do %>
                    <i class="uk-icon-mobile-phone"></i>
                  <% end %>
              </div>
            <br/> 
          </div>
            <hr/> 
      </div>
    <% end %>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function(){
    $('.toggle_disapprove_queue').click(function(){
      var parent = $(this).parent().parent().parent();
      parent.remove();
      var container = $('.uk-grid-width-small-1-2');
      var w = container.width();
      console.log("width: ",w);
    })
    $(window).ready(function(){
      var grid = UIkit.grid($("#grid"));
    })
  })
</script>
<script type="text/javascript">
  $(document).ready(function(){
    $('.uk-button').bind('ajax:success', function(){
      UIkit.notify({
          message : "Success!",
          status  : 'success',
          timeout : 2500,
          pos     : 'top-center'
      });
      $(this).removeAttr("href")
      $(this).removeAttr("data-remote")
      $(this).addClass("disabled");
    });
    $('.uk-button').bind('ajax:error', function(){
      UIkit.notify({
          message : "Uh oh! There was an issue..",
          status  : 'danger',
          timeout : 2500,
          pos     : 'top-center'
      });  
    });
  });
</script>