       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
<p>
  <%= @dash.title %>
</p>
<p>
  Unapproved: <%= @dash.posts.where(approved: nil).count %>
</p>
<p>
  To be Posted: <%= @posts.count %>
</p>

<p>

</p>

<div id="masonry-container" class="transitions-enabled infinite-scroll clearfix">

<% @posts.each do |post|  %>
  <div class="box col2">

  <h3><%= post.body %></h3>
  <% if !post.image_src.nil? %>

    <%= image_tag post.og_source %>

  <% end %>

           | |
<%= link_to "disapprove", toggle_disapprove_dash_post_path(@dash, post),   
            :remote => true %>   
            
  </div>
  <br/>
  <%= link_to "Tweet This!", dash_post_tweet_path(@dash, post_id: post.id),   
            :remote => true  %>||
  <%= link_to "Tumblr This!", dash_post_tumblr_path(@dash, post_id: post.id),   
            :remote => true  %>
<% end %>

  
</div>

<%= link_to 'Edit', edit_dash_path(@dash) %> |
<%= link_to 'Back', dashes_path %>
