<%= render "dashes/nav_standard_robot" %>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">    
	   <div class="uk-grid" data-uk-grid-margin="">
        <div class="uk-width-medium-1-2 uk-row-first">
            <img width="400" height="400" src="/robot7.svg" alt="">
        </div>
        <div class="uk-width-medium-1-2 uk-grid uk-margin-top uk-text-center">
            <div class="uk-text-bottom">
                <h1 class="">this is phil</h1>
			    <hr class="uk-grid-divider">
                <h4 class="">he's very good at following directions.</h4>
                <p class="">he's here to help people find your brand.</p>
                <p class="">plug in a few tags below and</p>
                <h4 class="uk-margin-top-small"> phil will go to work.</h4>
          <hr class="uk-grid-divider">
                <h3 class="">let phil bring people to the party.</h3>
            </div>
        </div>
    </div>


<div class="uk-margin-large-top uk-block uk-block-muted">
	<div class="uk-container">
		<div class="uk-grid-width-small-1-2 uk-grid-width-medium-1-4" data-uk-grid="{gutter: 20}">
	        <% @dash.terms.each do |term| %><div class="uk-text-center"><%= term.body %> - <%= term.count %> <span class="uk-badge uk-badge-notification uk-badge-success"><%= term.favorite_count %></span>    
        | <%= link_to "Remove", dash_destroy_term_path(@dash, term_id: term.id), class: "delete-term", method: :delete %>  </div>
	    	<% end %>
	  </div>
  </div>
</div>


<div class="uk-block  uk-text-center">
  <%= form_tag dash_add_term_path(@dash), method: "get", class: "uk-form" do %>
      <div class="uk-grid">
        <div class="uk-width-1-1">
        <%= text_field_tag :body,nil, placeholder: "terms", class: 'uk-width-1-3 uk-margin-remove' %>
        <%= text_field_tag :count,nil, placeholder: "count", class: 'uk-width-1-3 uk-margin-remove' %>
        <%= submit_tag "add", class: "uk-button term-add uk-width-1-4 uk-margin-remove" %>
      </div>
    </div>
  <% end %>    
</div>
  <div class="uk-block  uk-text-center">
    <div class="uk-grid" data-uk-grid-margin="">
      <div class="uk-width-medium-1-2">
        <form class="uk-form tweet-fave ">
          <% @dash.automation_times.where(task: "twitter favorite").each do |auto| %>
            <div class="uk-width-1-1">
              <input type="text" class="auto-time  uk-margin-small-bottom" value=<%= auto.start_time.strftime("%I:%M %P") %> data-uk-timepicker="{format:'12h'}">
            </div>
          <% end %>
        </form> 
      </div>
      <div class="uk-width-medium-1-2">
        <form class="uk-form">
          <% @dash.automation_times.where(task: "twitter favorite").each do |auto| %>
            <div class="uk-width-1-1">
              <input type="text" class="auto-time  uk-margin-small-bottom" value=<%= auto.start_time.strftime("%I:%M %P") %> data-uk-timepicker="{format:'12h'}">
            </div>
          <% end %>
        </form>                                       
      </div>
    </div>
</div>
  
<%= link_to 'start phil!', dash_favorite_tweets_path(@dash), remote: true, class: "uk-button uk-width-1-1 start-button uk-margin-small-top" %>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('.term-add').bind('click', function(){
      $(this).data("disabled")
      console.log("hey")
    });

    $('.term-add').bind('ajax:success', function(){
      UIkit.notify({
          message : "Success!",
          status  : 'success',
          timeout : 2500,
          pos     : 'top-center'
      });
    });
    $('.term-add').bind('ajax:error', function(){
      UIkit.notify({
          message : "Uh oh! There was an issue..",
          status  : 'danger',
          timeout : 2500,
          pos     : 'top-center'
      });  
    });
  });
</script>
<script type="text/javascript">
  $(document).ready(function(){
  	$('.delete-term').bind('click', function(){
  		$(this).data("disabled")
  		console.log("hey")
  	});

    $('.delete-term').bind('ajax:success', function(){
      UIkit.notify({
          message : "Success!",
          status  : 'success',
          timeout : 2500,
          pos     : 'top-center'
      });
    });
    $('.delete-term').bind('ajax:error', function(){
      UIkit.notify({
          message : "Uh oh! There was an issue..",
          status  : 'danger',
          timeout : 2500,
          pos     : 'top-center'
      });  
    });
  });
</script>

<script type="text/javascript">
    
  var autoTime = $('.auto-time');
  var val = autoTime.val();
  autoTime.focus(function(){
    var count = 0;
      $(this).on('change', function(){

        count++;
      })
  })

  function postBody(post, content){
    var uri = '/dashes/1/edit-post?post_id='+ post +'&body_text=' + content
    $.get(uri, function(data) {
      console.log(data)
    });  
  }

</script>


<script type="text/javascript">
  $(document).ready(function(){
    $('.start-button').bind('ajax:success', function(){
      UIkit.notify({
          message : "Success!",
          status  : 'success',
          timeout : 2500,
          pos     : 'top-center'
      });
      $(this).removeAttr("href")
      $(this).removeAttr("data-remote")
      $(this).addClass("disabled");
    });
    $('.start-button').bind('ajax:error', function(){
      UIkit.notify({
          message : "Uh oh! There was an issue..",
          status  : 'danger',
          timeout : 2500,
          pos     : 'top-center'
      });  
    });
  });
</script>