<%= render "dashes/nav_standard" %>


<div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

  <div class="uk-grid uk-grid-small">
      <div class="uk-width-1-4">
        <div class="uk-panel uk-panel-box uk-panel-box-primary">
          <%= form_tag "/dashes/#{@dash.id}/twitter-pics", method: "get", class: "uk-form" do %>
            <%= text_field_tag :search_term, @dash.twitter_pic_search, class: "uk-width-1-1"  %>
          <%= submit_tag "Twitter", class: "uk-margin-small-top twitter-button scrape-button uk-button uk-button-large uk-width-1-1 uk-margin-small-bottom" %>
          <% end %>                  
        </div>
      </div>
      <div class="uk-width-1-4">
        <div class="uk-panel uk-panel-box uk-panel-box-primary">
          <%= form_tag "/dashes/#{@dash.id}/giphy-gifs", method: "get", class: "uk-form" do %>
            <%= text_field_tag :search_term, @dash.giphy_search, class: "uk-width-1-1"  %>
          <%= submit_tag "Giphy", class: "uk-margin-small-top giphy-button uk-button scrape-button uk-button-large uk-width-1-1 uk-margin-small-bottom" %>
          <% end %>                 
        </div>
      </div>
      <div class="uk-width-1-4">
        <div class="uk-panel uk-panel-box uk-panel-box-primary">
          <%= form_tag "/dashes/#{@dash.id}/reddit-pics", method: "get", class: "uk-form" do %>
            <%= text_field_tag :search_term, @dash.subreddit, class: "uk-width-1-1" %>
            <%= submit_tag "Reddit", class: "uk-margin-small-top reddit-button scrape-button uk-button uk-button-large uk-width-1-1 uk-margin-small-bottom" %>
          <% end %>                
        </div>
      </div>
      <div class="uk-width-1-4">
        <div class="uk-panel uk-panel-box uk-panel-box-primary">
          <%= form_tag "/dashes/#{@dash.id}/tumblr-pics", method: "get", class: "uk-form" do %>
            <%= text_field_tag :search_term, @dash.tumblr_pic_search, class: "uk-width-1-1" %>
            <%= submit_tag "Tumblr", class: "uk-margin-small-top tumblr-button scrape-button uk-button uk-button-large uk-width-1-1 uk-margin-small-bottom" %>
          <% end %>               
        </div>
    </div>
  </div>
<hr class="uk-grid-divider"/>
<!-- Filter Controls -->

<% if !@posts.count == 0 %>
<ul id="my-id" class="uk-subnav">
    <li data-uk-filter=""><a href="">All</a></li>
    <li data-uk-filter="a"><a href="">Twitter</a></li>
    <li data-uk-filter="b"><a href="">Giphy</a></li>
    <li data-uk-filter="c"><a href="">Reddit</a></li>
    <li data-uk-filter="d"><a href="">Tumblr</a></li>
</ul>
<hr class="uk-grid-divider"/>
<% end %>
  <div id="grid" class="uk-grid-width-small-1-2 uk-grid-width-medium-1-4" data-uk-grid="{controls: '#my-id', gutter: 10}">
    <% @posts.each do |post|  %>
    <% if post.title == 'twitter' %>
      
      <div class="overlay" data-uk-filter='a'>

    <% elsif post.title == 'giphy' %>
      
      <div class="overlay" data-uk-filter='b'>

    <% elsif post.title == 'reddit' %>
      
      <div class="overlay" data-uk-filter='c'>

    <% else post.title == 'tumblr' %>
      
      <div class="overlay" data-uk-filter='d'>

    <% end %>
          <div>
            <div class="pic_holder">
              <% if !post.image_src.nil? %>
                 <%= image_tag post.og_source %> 
              <% else %>
                <%= image_tag post.usr_image(:medium) %>
                <a href=""><i class="uk-icon-cog"></i> ...</a>
              <% end %>
              <%= link_to "", toggle_approve_dash_post_path(@dash, post), :remote => true, class: "toggle_button toggle_approve" %>  
              <%= link_to "", toggle_disapprove_dash_post_path(@dash, post), :remote => true, class: "toggle_button toggle_disapprove" %>     
            </div>
            <h3><%= post.body %></h3>
            <br/> 
          </div>
      </div>
    <% end %>
  </div>

  <div class="uk-grid uk-grid-small">
    <%= link_to "Share the fire!", dash_post_queue_path(@dash), class: "uk-button uk-button-large uk-width-1-1 uk-margin-small-bottom" %>
  </div>
</div>

</div>

<script type="text/javascript">
  $(document).ready(function(){
  $('.toggle_disapprove').click(function(){
    var parent = $(this).parent().parent().parent();
    parent.remove();
    var container = $('.uk-grid-width-small-1-2');
    var w = container.width();
    console.log("width: ",w);
    $(window).trigger("resize");
  })
    $(window).ready(function(){
      var grid = UIkit.grid($("#grid"));
    })
  $('.toggle_approve').click(function(){
    var parent = $(this).parent().parent().parent();
    parent.css('background-color','rgba(30, 130, 76, .6)')
    parent.animate({'opacity': '0'}, 500, function(){
      parent.remove();
      $(window).trigger("resize");
    });
    var container = $('.uk-grid-width-small-1-2');

  })
    $(window).trigger("resize");

    var grid = UIkit.grid($("#grid"));  
  })
</script>

