

<p>
  <%= @dash.title %>
</p>
<p>
  Unapproved: <%= @dash.posts.where(approved: nil).count %>
</p>
<p>
  Approved: <%= @dash.posts.where(approved: true).count %>
</p>
<p>
  Disapproved: <%= @dash.posts.where(approved: false).count %>
</p>
<%= form_tag("/dashes/#{@dash.id}/twitter-pics", method: "get") do %>
  <%= label_tag(:search_term, "Search for:") %>
  <%= text_field_tag(:search_term, @dash.twitter_pic_search) %>
  <%= submit_tag("Search Twitter") %>
<% end %>
  <br/>
<%= form_tag("/dashes/#{@dash.id}/giphy-gifs", method: "get") do %>
  <%= label_tag(:search_term, "Search for:") %>
  <%= text_field_tag(:search_term, @dash.giphy_search) %>
  <%= submit_tag("Search Giphy") %>
<% end %>
  <br/>
<%= form_tag("/dashes/#{@dash.id}/reddit-pics", method: "get") do %>
  <%= label_tag(:search_term, "Search for:") %>
  <%= text_field_tag(:search_term, @dash.subreddit) %>
  <%= submit_tag("Search Reddit") %>
<% end %>
  <br/>
<%= form_tag("/dashes/#{@dash.id}/tumblr-pics", method: "get") do %>
  <%= label_tag(:search_term, "Search for:") %>
  <%= text_field_tag(:search_term, @dash.tumblr_pic_search) %>
  <%= submit_tag("Search Tumblr") %>
<% end %>

<hr/>||
<%= link_to "Post Random Tweet", dash_post_tweet_path(@dash) %> |
<%= link_to "Post Random Tumblr", dash_post_tumblr_path(@dash) %>
||<br/>
<hr/>

<% if current_user.role != 'user' || current_user.dashes.count == 0 %>
Facebook Authentication:
  <%= link_to "Authenticate", @dash.fb_oauth %>
  <br/>
<hr/>
<% end %>
<%= link_to 'Queue', dash_post_queue_path(@dash, @post) %>
<br/>
<hr/>
<%= link_to "Add Post", new_dash_post_path(@dash, @post) %>
<br/>
<hr/>

<%= link_to 'Settings', edit_dash_path(@dash) %> |
<%= link_to 'Back', dashes_path %>

<div id="masonry-container" class="transitions-enabled infinite-scroll clearfix">

<% @posts.each do |post|  %>
  <div class="box col2">
  title: <%= post.title %>, 
  body: <%= post.body %>, 
  og source: <%= post.og_source %>, 
  img: <%= post.image_src %>, 
  <% if !post.image_src.nil? %>

     <%= image_tag post.og_source %> 

  <% else %>

    <%= image_tag post.usr_image(:medium) %>

  <% end %>

<%= link_to "approve", toggle_approve_dash_post_path(@dash, post),   
            :remote => true %>  
           | |
<%= link_to "disapprove", toggle_disapprove_dash_post_path(@dash, post),   
            :remote => true %>   

  </div>
  <br/>
<% end %>

  
</div>
